body {
	font-family: Helvetica;
}
table {
	border: 1px solid black;
	width: 80%;
	margin: 1em 0;
	border-collapse: collapse;
	display: inline-table;
}
table th, table td {
	border: 1px solid black;
	margin: 0;
}
table th.slot {
	width: 1%;
}
section.unassigned {
	float: right;
	width: 18%;
	position: relative;
}
ul.sessions {
	list-style-type: none;
	padding: 0;
	width: 100%;
}
ul.sessions li .session {
	border: 1px solid black;
	margin: 0.5em 0;
	padding: 0.5em 1em;
}
ul.sessions li .session h3 {
	margin: 0;
}
