body {
	font-family: Helvetica;
}
table.day {
	border: 1px solid black;
	width: 80%;
	margin: 1em 0;
	border-collapse: collapse;
}
table.day th, table.day td {
	border: 1px solid black;
	margin: 0;
	width: 15%;
	padding: 0;
}
table.day th.date, table.day th.slot {
	width: 1%;
}
table.day ul.slotSessions {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	min-height: 3em;
}
table.day ul.slotSessions .session {
	border: 1px solid black;
	margin: 0.1em 0;
	padding: 0.1em;
	font-size: 80%;
	width: 10em;
	height: 3em;
}
table.day .session .authors, table.day .session .track, table.day .session .audienceLevel {
	display: none;
}
section.unassigned {
	float: right;
	width: 18%;
	position: relative;
}
ul.sessions {
	list-style-type: none;
	padding: 0;
	width: 100%;
	min-height: 10em;
}
ul.sessions li .session {
	border: 1px solid black;
	margin: 0.5em 0;
	padding: 0.5em 1em;
}
ul.sessions li .session h3 {
	margin: 0;
}
table.day .sortable-ghost.sortable-chosen {
	display: none;
}
.sortable-drag {
	opacity: 1%;
}
